<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./favicon.png" type="img/x-icon">
    <title>Tech Alerts ~ Home Page</title>

    <meta name="description" content="Stockr Finance by ElecSoft. A financial blog and news source.">
    <meta name="keywords" content="Tech Alerts, Tech, Alerts, Technology, News, Ars Technica, Tech Crunch, Tech Radar, Hacker News, North York, GTA, Toronto, Missisauga">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tech Alerts by ElecSoft. A blog and news source on Technology. techalerts.org and techalerts.ca">
    <meta property="og:description" content="Tech Alerts by ElecSoft. A blog and news source on Technology. Get all your Technology related news here!">
    <meta property="og:url" content="http://techalerts.ca/">
      <meta property="og:site_name" content="Tech Alerts">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Tech Alerts by ElecSoft. A blog and news source on Technology. Get all your Technology related news here!">
    <meta name="twitter:title" content="Tech Alerts ~ Get up to date Technology news and opinions, all in one place!">
    <meta name="twitter:image" content="http://img.freepik.com/free-vector/designers-working-together-with-reports_23-2147495188.jpg?size=338&ext=jpg">

    <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
    <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3018138084178413",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>

    <nav class="navbar ">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>Tech Alerts</strong>
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-active">
              Trending
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="/arstechnica">
                Ars Technica
              </a>
              <a class="navbar-item " href="/techradar">
                TechRadar
              </a>
              <a class="navbar-item " href="/hackernews">
                Hacker News
              </a>
              <a class="navbar-item " href="/techcrunch">
                TechCrunch
              </a>
              <a class="navbar-item " href="/newscientist">
                New Scientist
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end" id="rightHere">
          <a class="navbar-item is-hidden-desktop-only" href="/blog">
            Blog
          </a>
          <% if (!name) { %>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/login" class="tw-button button">Login</a>
                </p>
              </div>
            </div>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/signup" class="tw-button button">Sign Up</a>
                </p>
              </div>
            </div>
          <% } else {%>
            <a href="/write" class="navbar-item">Write</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active">
                <%= name %>
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/logout">
                  Logout
                </a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </nav>

    <br />

    <section class="section">
      <h1 class="title has-text-centered" id="topStories">Today's top stories</h1>

      <% if (data[0]) { %>
        <% var ad = 0; %>
        <% for (var i = 0; i < data.length; i++) { %>
          <% ad++; %>
          <%if (ad == 3 || ad == 6 || ad == 9) {%>
            <div class="columns is-mobile is-centered" style="display: none;">
              <div class="column is-6-desktop">
                <div class="card">
                  <a href="" target="_blank">
                    <div class="card-image">
                      <figure class="THIS IS AN AD">
                      </figure>
                    </div>
                  </a>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <p class="title is-4">THIS IS AN AD</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns is-mobile is-centered">
              <div class="column is-6-desktop">
                <div class="card">
                  <a href="<%=data[i].url%>" target="_blank">
                    <div class="card-image">
                      <figure class="image is-3by3">
                        <% if (data[i].urlToImage) { %>
                          <img src="<%= data[i].urlToImage %>" alt="<%= data[i].title %>">
                        <% } else if (source === 'techcrunch') { %>
                          <img src="./TechCrunch-Logo.jpg" alt="<%= data[i].title %>">
                        <% } else if (source === 'hacker-news') { %>
                          <img src="./hacker-news.jpg" alt="<%= data[i].title %>">
                        <% } else if (source === 'tech-radar') { %>
                          <img src="./techradar_logo_800x450.jpg" alt="<%= data[i].title %>">
                        <% } else if (source === 'ars-technica') { %>
                          <img src="./ars-technica.png" alt="<%= data[i].title %>">
                        <% } %>
                      </figure>
                    </div>
                  </a>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <a href="<%=data[i].url%>" target="_blank">
                          <p class="title is-4"><%= data[i].title %></p>
                        </a>
                      </div>
                    </div>
                    <div class="content">
                      <%= data[i].description %>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <% } else {%>
            <div class="columns is-mobile is-centered">
              <div class="column is-6-desktop">
                <div class="card">
                  <a href="<%=data[i].url%>" target="_blank">
                    <div class="card-image">
                      <figure class="image is-3by3">
                        <% if (data[i].urlToImage) { %>
                          <img src="<%= data[i].urlToImage %>" alt="<%= data[i].title %>">
                        <% } else if (source === 'techcrunch') { %>
                          <img src="./TechCrunch-Logo.jpg" alt="<%= data[i].title %>">
                        <% } else if (source === 'hacker-news') { %>
                          <img src="./hacker-news.jpg" alt="<%= data[i].title %>">
                        <% } else if (source === 'tech-radar') { %>
                          <img src="./techradar_logo_800x450.jpg" alt="<%= data[i].title %>">
                        <% } else if (source === 'ars-technica') { %>
                          <img src="./ars-technica.png" alt="<%= data[i].title %>">
                        <% } %>
                      </figure>
                    </div>
                  </a>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <a href="<%=data[i].url%>" target="_blank">
                          <p class="title is-4"><%= data[i].title %></p>
                        </a>
                      </div>
                    </div>
                    <div class="content">
                      <%= data[i].description %>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>


        <% } %>

        <% } %>

        <% if (response2[0]) { %>
          <% for (var i = 0; i < response2.length; i++) { %>
          <div class="columns is-mobile is-centered">
            <div class="column is-6-desktop">
              <div class="card">
                <a href="/article/<%=response2[i].posts_id%>">
                  <div class="card-image">
                    <figure class="image is-3by3">
                      <img src="<%= response2[i].image_url %>" alt="Image">
                    </figure>
                  </div>
                </a>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4"><%= response2[i].title %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        <%}%>
    </section>

    <div class="columns is-mobile is-centered">
      <div class="column is-6-desktop is-offset-4">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="tw-button button is-primary" id="techradar">Techradar</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="radar">

    </div>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Tech</strong> Alerts by <a href="http://elecsoftconsulting.com">ElecSoft.</a>
          </p>
        </div>
      </div>
    </footer>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Check if there are any nav burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }
      });
    </script>

  </body>
</html>
